<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
        <span th:text="${#authentication.name}"></span> with roles:
        <span th:each="role : ${#authentication.principal.authorities}" th:text="${role.authority}">ROLE</span>
    </span>
    <form id="logoutForm" method="post" action="/logout" class="form-inline">
        <button type="submit" class="btn btn-outline-light">Logout</button>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group">
                <a href="/admin" class="list-group-item list-group-item-action active">Admin</a>
                <a href="/user" class="list-group-item list-group-item-action">User</a>
            </div>
        </div>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Admin panel</h2>
            </div>
            <div id="mainContent" class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#newUserModal">New User</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">All users</h5>
                    <table class="table table-striped" id="usersTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Username</th>
                            <th>Roles</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody id="tableUsers">
                        <!--JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Edit Пользователя -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editUserForm">
                <div class="modal-body">
                    <input type="hidden" id="editId">
                    <div class="form-group">
                        <label for="editUserName">Username</label>
                        <input type="text" class="form-control" id="editUserName" required>
                    </div>
                    <div class="form-group">
                        <label for="editName">Name</label>
                        <input type="text" class="form-control" id="editName" required>
                    </div>
                    <div class="form-group">
                        <label for="editLastName">Last Name</label>
                        <input type="text" class="form-control" id="editLastName" required>
                    </div>
                    <div class="form-group">
                        <label for="editAge">Age</label>
                        <input type="number" class="form-control" id="editAge" required>
                    </div>
                    <div class="form-group">
                        <label for="editPassword">Password</label>
                        <input type="password" class="form-control" id="editPassword">
                    </div>
                    <div class="form-group">
                        <label for="rolesEdit">Roles</label>
                        <select multiple class="form-control" id="rolesEdit" required>
                            <option value="1">ROLE_USER</option>
                            <option value="2">ROLE_ADMIN</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select at least one role.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Новый пользователь -->
<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUserModalLabel">New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="newUserForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newUserName">Username</label>
                        <input type="text" class="form-control" id="newUserName" required>
                    </div>
                    <div class="form-group">
                        <label for="newName">Name</label>
                        <input type="text" class="form-control" id="newName" required>
                    </div>
                    <div class="form-group">
                        <label for="newLastName">Last Name</label>
                        <input type="text" class="form-control" id="newLastName" required>
                    </div>
                    <div class="form-group">
                        <label for="newAge">Age</label>
                        <input type="number" class="form-control" id="newAge" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Password</label>
                        <input type="password" class="form-control" id="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="rolesNew">Roles</label>
                        <select multiple class="form-control" id="rolesNew" required>
                            <option value="1">ROLE_USER</option>
                            <option value="2">ROLE_ADMIN</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select at least one role.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add User</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/admin.js"></script>
</body>
</html>